* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  display:flex;
  justify-content: center;
  align-content: center;
  width:max-content;
  height:max-content;
}

nav {
  display: block;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin-left: 2rem;
  text-decoration: none;
  font-size: small;
}

/* for the largest screen*/

nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-items: left;
  margin-left: 2rem;
  text-decoration: none;
  font-size: large;
}

  .header{
    font-size:1.8rem;
    width:fit-content;
  }
  .footer{
    font-size:.8rem;
    height:max-content;
    background-color::#e65656;
  }
  
nav > ul {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  padding: 4rem;
}
/*Router links for nav*/

a.router-link {
  display: flex;
  align-content: space-around;
  justify-content: left;
  text-decoration: none;
  margin-left: 4.5rem;
  color:whitesmoke;
  padding-right: 3rem;
  font-size: 1.8rem;
}

.router-link .btn {
  width: 12rem;
  height: 4rem;
  margin-top:-4rem;
  border: none;
  justify-items: right;
  align-items: center;
  border-radius: 8px;
  color: whitesmoke;
  background-color: #ea8d8d;
  
}

.router-link:hover {
  font-size: 2rem;
  color: #ea8d8d;
 
}
.router-link .btn:hover {
  color: whitesmoke;
}
li {
  list-style: none;
}

.router-link-active {
  font-size: 2rem;
  color: #ea8d8d;
  text-decoration:none;
}
.router-link-exact-active :hover{
  color #ea8d8d;
  font-size:2.2rem;
}

.header {
  color:#e65656;
  height: 40vh;
  background-color: rgb(53, 140, 140);
  width: 100vw;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:10px;
  background-color: #fff;
}

button {
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 4rem;
  width: 10rem;
  height: 5rem;
  border: none;
  font-size:1.2rem;
  border-radius: .8rem;
  background-color: rgb(53, 140, 140);
  color: whitesmoke;
}

.about,
.home {
  display: block;
  justify-content: center;
  text-align: left;
  height: 100vh;
  width: 100vw;
  margin-top: 4rem;
  padding: 2rem;
  color: rgb(70, 77, 70);
}

.about,
h3 .home,
h3 {
  display: block;
  color:#e65656;
  margin-top:2rem;
  margin-bottom: 2rem;
  padding: 1.2rem;
  text-align: center;
  font-size: large;
}

.about,
.home {
  margin-top: 2rem;
  font-size: large;
  text-align: left;
}

.contact-view {
  margin-top: 4rem;
  margin-left: 4rem;
  height: 100vh;
  width: 100vw;
  color:#e65656;
  font-size: large;
  line-height: 1.7em;
}

.contact-view > h3{
 margin-top:2rem;
}
.body {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
  font-size: 2.4rem;
  color: rgb(70, 77, 70);
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.7em;
}

.body > p {
  padding: 1.8rem;
  /* transition: all 3s ease-in; */
}

.body > p:hover {
  font-size: 2.0;
  color:#e65656;
}

.port-folio {
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-left: 2rem;
  padding: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  
}
.port-btn{
  background-color: rgb(53, 140, 140);
  font-size: 1.8rem;
}

.port-folio > h3 {
  color:#e65656;
  padding: 2rem;
  text-align: center;
  font-size: large;
}

.port-folio .link {
  display: flex;
  margin-top: 4rem;
  font-size: 2.4rem;
  justify-content: left;
  text-decoration: none;
  list-style-type: none;
  margin-bottom: auto;
  color: rgb(70, 77, 70);
 }

.port-folio .link :hover {
  color: rgb(53, 140, 140);
  font-weight: bolder;
  font-size: larger;
  background-color: #ea8d8d;
}
.port-folio-btn{
  transition: all 3s;
  
}
.port-folio-btn:hover{
  transition-timing-function: all 3s ease-out; 
  transform:scale(1.1); 
  background-color: #ea8d8d;

}

 .router-link {
  display: flex;
  align-content: space-between;
  color: rgb(70, 77, 70);
  margin: 3rem;
  padding: 1rem;
  /* transition: all 2s; */
  font-size: 2rem;
}

.router-link .btn {
  width: 12rem;
  height: 4rem;
  border: none;
  margin:-2rem 2rem;
  justify-content: center;
  border-radius: .8rem;
  color: whitesmoke;
  background-color: rgb(232, 89, 113);
  transition:all 3s;
}

.router-link .btn:hover {
  display:flex;
  justify-content: center;
  transition-timing-function: all 2s ease-out; 
  margin:0rem 4rem;
  color: whitesmoke;
  transform:scale(1.1);
  background-color: #ea8d8d;
 
}

.router-link-active {
  font-size: large;
  color: #ea8d8d;
} 

li {
  list-style: none;
}

.footer {
  display: block;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100vw;
  margin-top: 8rem;
  padding: 3rem;
  background-color: rgb(53, 140, 140);
}

.footer > h3 {
  display: block;
  justify-content: center;
  color: whitesmoke;
  margin-top: 1.5rem;
  padding: .6rem 0;
}

.footer > .contact > li {
  display: block;
  justify-content:space-evenly;
  text-align: center;
  font-family: cursive;
  color: whitesmoke;
  font-size: 1.8rem;
  transition: all 4s ease-out;
  z-index: 10;
}

.footer > .contact > li:hover {
  font-size: 2.2rem;
}

.github-link,
.linkedin-link {
  font-size: small;
  color:rgb(197, 137, 178);
  text-decoration: none;
}

a.linkedin-link {
  color:whitesmoke;
  font-family: cursive;
}
/* media queries*/
 @media only screen and (min-width:150px) {
  html{
    display:flex;
    justify-content: center;
    align-content: center;
  }
.header{
  height:42vh;
}
.body > p{
  display:flex;
  flex-wrap: nowrap;
  font-size: 1.2rem;
}
.body > p:hover{
  color: rgb(53, 140, 140);
  font-size: 1.4rem;
}

.router-link .btn{
  margin-top:10rem; 
  font-size: 1.0rem;
  margin-left:3rem;
  align-items:right;
  width:8rem;
  height: 2.5rem;
  margin:-2rem 2rem;

}
.router-link .btn:hover{
 font-size: 1.2rem;
 margin:4rem 2rem;
 transition-timing-function: all 2s ease-out; 
 transform:scale(1.1); 
}
button.btn{
  margin-top:6rem;
  margin-left: 3rem;

}

.port-folio .link{
  font-size: 1.2rem;
}
.port-folio .link:hover{
  color:  rgb(53, 140, 140);
  font-size: 1.6rem;
}

.port-btn{
 font-size: 1.2rem;
}

.contact-view {
  font-size: 1.2rem;
}

.footer{
  height:54vh;
}
.footer > .contact > li {
font-size: 1.0rem;
}

 }

@media only screen and (min-width:485px){
  /* a.router-link{
   display:flex;
   align-content: space-evenly;
   font-size:1.6rem;
 } */

 .router-link .btn{
  margin-top:4rem; 
  font-size: 1.2rem;
  width:9rem;
  height: 3rem;
  background-color:rgb(232, 89, 113); 
 }
.router-link .btn:hover{
  /* margin-top:6rem;  */
  font-size: 1.4rem;
}
.body > p{
  font-size: 1.4rem;
 }
.body > p:hover{
  font-size: 1.4rem;
}
.port-folio .link {
  font-size:1.4rem;
 
}
.port-folio .link:hover{
  font-size:1.6rem;
  color: rgb(53, 140, 140);
 }

.port-folio > .port-folio-btn{
  background-color:rgb(232, 89, 113);
}

.port-btn{
 font-size: 1.4rem;
}

.about .contact-view> h3{
  margin-top:4rem;
}

.contact-view > ul{
  font-size:1.4rem;
}
.linkedin-link{
  color:rgb(232, 89, 113);
}
.header .footer{
  background-color: rgb(53, 140, 140);
  font-size: 1.2rem;
}

}

@media only screen and (min-width:769px){
  a.router-link{
    font-size:1.6rem;
  }
  .router-link .btn {
   margin-top:6rem;
   font-size:1.4rem;
   width:12rem;
   height:4rem;
} 
 .router-link .btn:hover {
  margin-top: 6rem; 
  font-size:1.6rem;
  color: whitesmoke;
}
 .port-folio .link {
  font-size: 1.8rem;
 
 }
 .port-folio .link:hover{
  font-size: 2.0rem;
  color:rgb(53, 140, 140);
  }

  .port-btn{
 font-size: 1.6rem;
}
 button.btn{
  font-size:1.2rem;
 }
.body > p{
  font-size:2.2rem;
}
.body > p:hover{
font-size: 2.4rem;
color: rgb(232, 89, 113);
}
.about .home ,.contact-view > h3{
  margin-top:6rem;
}

.contact-view > ul {
  font-size: 2.2rem;
  line-height: 4rem;
}

.footer > .contact > li {
    font-size:1.8rem;
  }
  
  .header, .footer{
    font-size:1.4rem;
  } 
  .footer .contact > a.linkedin-link{
    color:rgb(232, 89, 113);
  }
}

 /* Styles for desktop */
@media screen and (min-width: 1024px) {

  body {
    font-size: 2.4rem;
  }
  .about >h3{
    margin-top:6rem;
  }
  a.router-link{
    font-size:2.0rem;
  }
  .router-link .btn {
   margin-top:6rem;
   font-size:1.6rem;
   width:14rem;
   height:4.6rem;
   background-color: #d36923;
   
} 
 .router-link .btn:hover {
  margin-top: 6rem; 
  font-size:1.8rem;
  color: whitesmoke;
}
 .port-folio .link {
  font-size: 2.0rem;
 
 }
 .port-folio .link:hover{
  font-size: 2.2rem;
  color:rgb(53, 140, 140);
 
 }
 
 .port-btn{
 font-size: 1.8rem;
 width:max-content;
}
.body > p{
  font-size:2.4rem;
}
.body > p:hover{
font-size: 2.6rem;
color: rgb(232, 89, 113);
}
.about .home ,.contact-view > h3{
  margin-top:6rem;
}

.contact-view > ul{
  font-size:2.2rem;
  line-height:4rem;
}

.footer > .contact > li {
    font-size:2.0rem;
  }
  
  .header, .footer{
    font-size:1.6rem;
  } 
  .footer .contact > a.linkedin-link{
    color:rgb(232, 89, 113);
  }

}
